
BikeShare-JerseyCity.Rmd
animation.gif
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2.Rmd
202201-bluebikes-tripdata.csv
202202-bluebikes-tripdata.csv
current_bluebikes_stations.csv
Divvy_Trips_20241111.csv
JC-202201-citibike-tripdata.csv
JC-202202-citibike-tripdata.csv
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/__packages
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/animate map temporal viz_17e631d1cee8d00acb5f1da2fa92aa22.RData
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/animate map temporal viz_17e631d1cee8d00acb5f1da2fa92aa22.rdb
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/animate map temporal viz_17e631d1cee8d00acb5f1da2fa92aa22.rdx
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/comparing predicted and observed_927fc836bc677034ae954994fb286446.RData
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/comparing predicted and observed_927fc836bc677034ae954994fb286446.rdb
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_cache/html/comparing predicted and observed_927fc836bc677034ae954994fb286446.rdx
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/comparing predicted and observed-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/plot errors-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-10-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-11-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-13-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-14-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-15-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-16-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-17-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-18-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-20-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-23-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-24-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-27-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-29-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-3-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-4-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-6-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-7-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-8-1.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-8-2.png
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2_files/figure-html/unnamed-chunk-9-1.png
JC-202408-citibike-tripdata.csv
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2.html
