
BikeShare-JerseyCity.Rmd
animation.gif
CHU_Hayden_PPA_Assignment_5_NJ_Bikeshare_edit_2.Rmd
202201-bluebikes-tripdata.csv
202202-bluebikes-tripdata.csv
current_bluebikes_stations.csv
Divvy_Trips_20241111.csv
